<%- include("partials/header.ejs") %>

<div id="contactmaincontainer">
    <h2 id="contactmainheading">Adarsh Raju</h2>
    <h3 id="contactsubheading">Full Stack Website Developer</h3>
    <p>Adarsh Raju is a full stack website developer who is highly passionate about designing and developing online websites and applications.</p>
    <p>He can make engaging, and highly customised websites for your business needs.
    He knows the ins-and-outs of Search Engine Optimization and Internet Security Protocols, so you can be rest assured that your website's rank will be put in the front and you don't have to worry about security.
    </p>
            
    <p>Email: <a href="mailto:adarsh_rg5@yahoo.co.in">adarsh_rg5@yahoo.co.in</a></p>
    <p>Tel: <a href="tel:+61450059324">+61 450 059 324</a></p>
</div>

<%- include("partials/footer.ejs") %>